html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit;
  vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --text-title-color: #7d5fff;
  --text-sstitle-color: #652e90;
  --text-title-size: 2em;
  --text-family-title: "Ruda", sans-serif;
  --text-family-sstitle: "Questrial", sans-serif;
  --border-color: #48713b;
  --backgd-color-light: #c4d1bd;
  --border-block-color: #48713b;
  --border-input-color: #6d8d61;
}
@media screen and (min-width: 276px) and (max-width: 576px) {
  body {
    max-width: 576px;
    box-sizing: border-box;
  }
  /******************************************** header *************************/
  header {
    padding: 0.4rem;
    box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    margin-bottom: 0rem;
    height: 20%;
    display: flex;
  }
  .headernav_right {
    display: none;
  }
  .header__logo {
    display: flex;
    justify-content: space-between;
  }
  .test {
    height: 100%;
  }
  /* .header__contain {
  } */
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
  }
  .menu {
    font-size: 2rem;
    color: var(--text-sstitle-color);
  }

  /************** firstBlock*********************/

  .firstBlockHome__contain,
  .secondBlockHome__contain {
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
  }
  .firstBlockHome__contain {
    background-color: var(--text-title-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .firstBlockHome__contain div {
    border: 1px solid var(--text-sstitle-color);
    height: 300px;
    width: 90%;
    margin: 1rem 0;
  }
  .firstBlock__ssBlockOne,
  .firstBlock__ssBlockTwo,
  .firstBlock__ssBlockThird {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
  }
  .firstBlock__ssBlockTwo h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .firstBlock__ssBlockTwo button {
    background-color: var(--text-sstitle-color);
    height: 20%;
    width: 70%;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    /* box-shadow: 0 1px 2px rgba(216, 12, 12, 0.15); */
  }

  /******************SecondBlock*********************/
  .secondBlockHome__contain {
    padding: 1rem;
  }
  .secondBlockHome__block {
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    /* box-shadow: 0 1px 2px var(--text-sstitle-color); */
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .secondBlockHome__block p {
    text-align: center;
    margin-top: 1rem;
  }

  /*********************ThirdBlock***********************/
  .thirdBlockHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--text-title-color);
  }
  .thirdBlockHome__oneblock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .thirdBlockHome__oneblock p {
    text-align: center;
  }
  .icone__block {
    font-size: 2rem;
  }

  /******************** FourBlock********************/
  .fourBlockHome {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fourBlockHome__paragraphe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .fourBlockHome__paragraphe button {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    background-color: var(--text-sstitle-color);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }

  /*********************** fifthBlockHome *******************/
  .fifthBlockHome__contain {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .fifthBlockHome__particulier,
  .fifthBlockHome__entreprise {
    height: 250px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  body {
    max-width: 768px;
    box-sizing: border-box;
  }
  /******************************************** header *************************/
  header {
    padding: 0.4rem;
    box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    margin-bottom: 0rem;
    height: 20%;
    display: flex;
  }
  .headernav_right {
    display: none;
  }
  .header__logo {
    display: flex;
    justify-content: space-between;
  }
  .test {
    height: 100%;
  }
  /* .header__contain {
  } */
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
  }
  .menu {
    font-size: 2rem;
    color: var(--text-sstitle-color);
  }

  /************** firstBlock*********************/

  .firstBlockHome__contain,
  .secondBlockHome__contain {
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
  }
  .firstBlockHome__contain {
    background-color: var(--text-title-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .firstBlockHome__contain div {
    border: 1px solid var(--text-sstitle-color);
    height: 300px;
    width: 90%;
    margin: 1rem 0;
  }
  .firstBlock__ssBlockOne,
  .firstBlock__ssBlockTwo,
  .firstBlock__ssBlockThird {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
  }
  .firstBlock__ssBlockTwo h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .firstBlock__ssBlockTwo button {
    background-color: var(--text-sstitle-color);
    height: 20%;
    width: 70%;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    /* box-shadow: 0 1px 2px rgba(216, 12, 12, 0.15); */
  }

  /******************SecondBlock*********************/
  .secondBlockHome__contain {
    padding: 1rem;
  }
  .secondBlockHome__block {
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    /* box-shadow: 0 1px 2px var(--text-sstitle-color); */
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .secondBlockHome__block p {
    text-align: center;
    margin-top: 1rem;
  }

  /*********************ThirdBlock***********************/
  .thirdBlockHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--text-title-color);
  }
  .thirdBlockHome__oneblock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .thirdBlockHome__oneblock p {
    text-align: center;
  }
  .icone__block {
    font-size: 2rem;
  }

  /******************** FourBlock********************/
  .fourBlockHome {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fourBlockHome__paragraphe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .fourBlockHome__paragraphe button {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    background-color: var(--text-sstitle-color);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }

  /*********************** fifthBlockHome *******************/
  .fifthBlockHome__contain {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .fifthBlockHome__particulier,
  .fifthBlockHome__entreprise {
    height: 250px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    max-width: 992px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
  body {
    max-width: 1280px;
    box-sizing: border-box;
  }
  /******************************************** header *************************/
  header {
    padding: 0.4rem;
    box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
    margin-bottom: 0rem;
    height: 20%;
    display: flex;
  }
  .headernav_right {
    display: flex;
  }
  .header__logo {
    display: flex;
    justify-content: space-between;
  }
  .test {
    height: 100%;
  }

  .menu__header {
    display: none;
  }
  .headernav_right {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: flex-end;
    width: 70%;
  }
  .headernav_right h5 {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  /************** firstBlock*********************/

  .firstBlockHome__contain,
  .secondBlockHome__contain {
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
  }
  .firstBlockHome__contain {
    background-color: var(--text-title-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }
  .firstBlockHome__contain div {
    border: 1px solid var(--text-sstitle-color);
    border: blue 1px solid;
    height: 300px;
    width: 90%;
    margin: 1rem 0;
  }
  .firstBlock__ssBlockOne,
  .firstBlock__ssBlockTwo,
  .firstBlock__ssBlockThird {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
  }
  .firstBlock__ssBlockTwo h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .firstBlock__ssBlockTwo button {
    background-color: var(--text-sstitle-color);
    height: 20%;
    width: 70%;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  /******************SecondBlock*********************/
  .secondBlockHome__contain {
    padding: 1rem;
    display: flex;
    height: 400px;
    align-items: center;
  }
  .secondBlockHome__block {
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    /* box-shadow: 0 1px 2px var(--text-sstitle-color); */
    height: 95%;
    width: 30%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 0.5rem;
  }
  .secondBlockHome__block p {
    text-align: center;
    margin-top: 1rem;
  }
  /*********************ThirdBlock***********************/
  .thirdBlockHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--text-title-color);
  }
  .thirdBlockHome__oneblock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .thirdBlockHome__oneblock p {
    text-align: center;
  }
  .icone__block {
    font-size: 2rem;
  }
  /******************** FourBlock********************/
  .fourBlockHome {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fourBlockHome__paragraphe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .fourBlockHome__paragraphe button {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    background-color: var(--text-sstitle-color);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
  /*********************** fifthBlockHome *******************/
  .fifthBlockHome__contain {
    height: auto;
    display: flex;
    /* flex-direction: column; */
  }
  .fifthBlockHome__particulier,
  .fifthBlockHome__entreprise {
    height: 250px;
    width: 50%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/******************************************** header *************************/

/* header {
  padding: 0.4rem;
  box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 2px 6px 25px -12px rgba(0, 0, 0, 0.73);
  margin-bottom: 0rem;
}

.header__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headernav_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}
.headernav_right h5 {
  margin-left: 0.2rem;
  font-size: 1rem;
} */

/********************************* Block Home **************************************/
/* .firstBlockHome__contain,
.secondBlockHome__contain {
  border: 1px solid red;
  height: 60vh;
  width: 100%;
  margin-bottom: 2rem;
} */
/* .thirdBlockHome {
  border: 1px solid blue;
  height: 50vh;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fourBlockHome {
  border: 1px solid purple;
  height: 90vh;
  width: 100%;
}
.secondBlockHome__contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.secondBlockHome__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid orange;
  height: 100%;
  width: 20%;
}
.secondBlockHome__badges {
  border: purple 1px solid;
  width: 80%;
  height: 50%;
  border-radius: 50%;
}
.secondBlockHome__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.secondBlockHome__text p {
  display: flex;
  justify-content: center;
  text-align: center;
}
.thirdBlockHome__multiblock {
  display: flex;
  justify-content: space-around;
}
.thirdBlockHome__oneblock {
  border: 1px solid purple;
  height: 30vh;
  width: 23%;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.thirdBlockHome__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdBlockHome__textpara {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
} */
